body{
    background-color: #edf1f2;
}

h1 {
    margin: 10px;
    margin-left: 330px;
}

h2 {
    margin: 10px
}



.tabla{
    margin-top: 10px;
}

th{
    color: forestgreen;
    font-size: 1.5em;
    
}

.td{
    font-size: 1.3em;
}

.ex3 img {width:100px;  margin:10px 0; -webkit-transition:all 0.5s ease;
	-moz-transition:all 1s ease; -o-transition:all 1s ease;}
.ex3 img:hover {width:412px; height: 284px; /* margin-top:-10px; */}